.movieItem {
  padding: 1%;
}

.statistics {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}

.poster {
  width: 100%;
  height: auto;
}

@media (min-width: 480px) {
  .movieItem {
    width: 300px;
    margin: 0 auto;
  }
}

/* 
.voteCount {
}

.voteAveragevie {
}

.popularity {
}

.overview {
}

.releaseDate {
} */
